<div class="container-fluid">
    <div class="col-md-3">
      <!-- <h3>Update the {{property.propertyType}} in {{property.address}}</h3> -->
    </div>
    <br>

    <div class="col-md-5">
      <form [formGroup]="updatePropertyForm" (ngSubmit)="updateProperty()">

        <div class="form-group mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" formControlName="address" id="address" placeholder="Enter new address" />
          @if (address?.hasError('required') && address?.touched) {
          <div class="text-danger">Address is required</div>
          }
        </div>

        <div class="form-group mb-3">
          <label for="yearOfConstruction">Year of Construction</label>
          <input type="number" class="form-control" formControlName="yearOfConstruction" id="yearOfConstruction" placeholder="Enter year of construction" />
          @if (yearOfConstruction?.hasError('required') && yearOfConstruction?.touched) {
          <div class="text-danger">Year of construction is required</div>
          }
          @if (yearOfConstruction?.hasError('min') && yearOfConstruction?.touched) {
          <div class="text-danger">Year must be after 1900</div>
          }
          @if (yearOfConstruction?.hasError('max') && yearOfConstruction?.touched) {
          <div class="text-danger">Year cannot be in the future</div>
          }
        </div>
        
        <div class="form-group mb-3">
          <label for="propertyType">Property Type</label>
          <select class="form-select" formControlName="propertyType">
            <option [value]="0">House</option>
            <option [value]="1">Apartment</option>
            <option [value]="2">Detached House</option>
            <option [value]="3">Maisonette</option>
          </select>
          @if (propertyType?.hasError('required') && propertyType?.touched) {
          <div class="text-danger">Property type is required</div>
          }
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-warning btn-block" [disabled]="updatePropertyForm.invalid">Save</button>
        </div>

        @if (viewMessage) {
        <div class="alert alert-success mt-4">
          {{ viewMessage }}
        </div>
        }
      </form>
    </div>
  </div>
