<h2>Insert a new Property Owner :</h2>
<br>
<form [formGroup]="createOwnerForm" (ngSubmit)="CreateOwner()">
    <input type="text" formControlName="username" placeholder="username">
    @if (username?.hasError('required') && username?.touched) {<div >Username Required</div>}
    @if (username?.hasError('maxlength') && username?.touched) {<div >Username can't exceed 20 letters</div>}
    <br><br>

    <input type="text" formControlName="name" placeholder="first name">
    @if (name?.hasError('required') && name?.touched) {<div>Name Required</div>}
    <br><br>

    <input type="text" formControlName="surname" placeholder="surname">
    @if (surname?.hasError('required') && surname?.touched) {<div>Surname Required</div>}
    

    <br><br>

    <input type="text" formControlName="address" placeholder="address">
    @if (address?.hasError('required') && address?.touched) { <div >Address Required</div>}
   

    <br><br>

    <input type="text" formControlName="phoneNumber" placeholder="phone number">
    @if (phoneNumber?.hasError('required') && phoneNumber?.touched) {<div>Phone Number Required</div>}
    @if (phoneNumber?.hasError('pattern') && phoneNumber?.touched) {<div>Phone Number should be valid </div>}
    
    <br><br>

    <input type="text" formControlName="vatNumber" placeholder="vat number">
    @if (vatNumber?.hasError('required') && vatNumber?.touched) {<div >VAT Number Required</div>}
    @if (vatNumber?.hasError('maxlength') && vatNumber?.touched) {<div >VAT Number must be exactly 9 digits</div>}

    <br><br>

    <input type="email" formControlName="email" placeholder="email">
    @if (email?.hasError('required') && email?.touched) {<div >Email Required</div>}
    @if (email?.hasError('email') && email?.touched) {<div >Invalid email format</div>}
    <br><br>

    <input type="password" formControlName="password" placeholder="enter your password">
    @if (password?.hasError('required') && password?.touched) {<div >Password Required</div>}
    @if (password?.hasError('minlength') && password?.touched) {<div >Password must have at least 4 characters</div>}
    <br><br>

    <button type="submit" class="btn btn-success" [disabled]="createOwnerForm.invalid" >Create Property Owner</button>

    @if (viewMessage) {<div class="alert alert-success mt-4">
        {{ viewMessage }}
    </div>
    }
</form>

<br><br>
<br><br>