<div class="container-fluid">
    <br>

    <h4>Admins</h4>
    <br>
    <div class="row">
        @for(admin of admins; track admin){ 
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ID: {{ admin.id }}</h5>
                        <p class="card-text">Username: {{ admin.username }}</p>
                        <p class="card-text">Email: {{ admin.email }}</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <br><br>

    <h4>view an Admin</h4>
    <br>
    <form [formGroup]="viewadminForm" (ngSubmit)="viewadmin()">
        <div class="form-group">
            <label for="adminId">Enter Admin ID to delete:</label>
            <input type="number" id="adminId" formControlName="adminId" class="form-control"
                placeholder="Enter Admin ID">
            <br>
            <button type="submit" class="btn btn-danger" [disabled]="viewadminForm.invalid">delete Admin</button>
        </div>
    </form>

    @if (viewMessage) {<div class="alert alert-success mt-4">
        {{ viewMessage }}
    </div>
    }
</div>
