<nav class="navbar navbar-expand-lg"  style="background-color: #e0e4e6;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['UserHome']" routerLinkActive="active">Home</a>
        </li>     
       

        <!-- Properties -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="propertyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Properties
          </a>
          <ul class="dropdown-menu" aria-labelledby="propertyDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['Property',1]" routerLinkActive="active">Create Property</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['PropertyUpdate', 1]" routerLinkActive="active">Update Property</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['property/view']" routerLinkActive="active">View Properties</a>
            </li>
          </ul>
        </li>

        <!-- Property Repairs -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="propertyRepairDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Property Repairs
          </a>
          <ul class="dropdown-menu" aria-labelledby="propertyRepairDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['PropertyRepairs']" routerLinkActive="active">Create Repair</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['propertyRepairs/view']" routerLinkActive="active">View Repairs</a>
            </li>
          </ul>
        </li>

        <!-- User -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">          
            <li>
              <a class="dropdown-item" [routerLink]="['user/update'] " routerLinkActive="active">Update</a>
            </li>
          </ul>
        </li>

        <!-- Admin -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['Admin']" routerLinkActive="active">Create Admin</a>      
            </li>  
            <li>
              <a class="dropdown-item" [routerLink]="['admin/update']" routerLinkActive="active">Update Admin</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['admin/view']" routerLinkActive="active">View Admins</a>
            </li>
            <hr>
            <li>
              <a class="dropdown-item" [routerLink]="['User']" routerLinkActive="active">Create User</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['user/search']" routerLinkActive="active">View Users</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>

