<h2>Update Admin</h2>

<form [formGroup]="updateAdminForm" (ngSubmit)="updateAdmin()">
  <input type="hidden" formControlName="id">

  <label for="username">Username:</label>
  <input type="text" id="username" formControlName="username" placeholder="{{admin?.username}}">
  @if (username?.hasError('required') && username?.touched) {<div>Username Required</div>}
  <br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" placeholder="{{admin?.email}}">
  @if (email?.hasError('required') && email?.touched) {<div>Email Required</div>}
  @if (email?.hasError('email') && email?.touched) {<div>Invalid Email Format</div>}
  <br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" placeholder="Enter a new password or leave unchanged">
  @if (password?.hasError('required') && password?.touched) {<div>Password Required</div>}
  @if (password?.hasError('minlength') && password?.touched) {<div>Password must be at least 6 characters long</div>}
  <br><br>

  <button type="submit" class="btn btn-warning" [disabled]="updateAdminForm.invalid">Save Changes</button>
  @if (viewMessage) {
  <div class="alert alert-success mt-4">
    {{ viewMessage }}
  </div>
  }
</form>